<!DOCTYPE html>
<html>
  <head>
    <title>Mortgager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="space-x-3">
    <header class="border-t">
      This is header component
    </header>

    <main class="border-t">
      <%= yield %>
    </main>


    <footer class="border-t">
      Footer placeholder
    </footer>
  </body>
</html>
